.registerArea {
  margin: 10%;
  p{
    font-size: 14px;
    padding-right: 10px;
  }
}

footer {
  font-size: 10px;
  text-align: center;
  padding: 10px;
  a {
    color: $base-color;
    text-decoration: none;
  }
}